@tailwind base;
@tailwind components;
@tailwind utilities;


.gradientHover{
  @apply transition-all hover:text-transparent bg-clip-text bg-gradient-to-r from-websiteBlue via-pinkishRed to-oceanGreen
}

.blueHover{
  @apply transition-all hover:text-websiteBlue;
}

.custom-carousel-container .carousel-control-prev,
.custom-carousel-container .carousel-control-next {
  display: none;
}

.custom-carousel-container:hover .carousel-control-prev,
.custom-carousel-container:hover .carousel-control-next {
  display: block;
  opacity: 0;
}


.animate{
  animation-name: animate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes animate {
  0%{
    rotate: 0deg;
  }
  50%{
    rotate: 2deg;
  }
  100%{
    rotate: 0deg;
  }
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
}

@media (max-width:550px) {
  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 140px;
    perspective: 1000px;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}